/*******************General*********************/

html {
	max-height: 100vh;
}
html, body, p {
	margin: 0;
	padding: 0;
}

a:link,
a:visited,
a:active, 
a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
}

@font-face {
	font-family: "meso font";
	src: url(assets/meso_font.ttf);
}
h1 {
	font-size: 200%;
}
h2 {
    font-size: 130%;
	font-weight: normal;
}
p {
    font-size: 100%;
}
.button {
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #133455 5%, #091b2f 100%);
	background-color:#0a2947;
	border:1px solid #6483a1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
}
.button:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}
.button:active {
	position:relative;
	top:1px;
}

/********************Header********************/

header {
	margin: auto;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: rgb(10,41,71);
	background: radial-gradient(circle, rgba(10,41,71,1) 0%, rgba(5,21,37,1) 100%); 
}

.header-navbar {
	margin: auto;
	padding: 0;
	padding-top: 3vh;
	width: 65%;
	height: 5vh;
}

.header-navbar-logo {
	margin: auto;
	padding: 0;
	font-family: 'meso font', sans-serif;
	font-size: 3em;
	color: white;
	float: left;
	text-align: left;
	justify-content: left;
	align-items: left;
}

.header-navbar-links {
	margin: auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color: white;	
	word-spacing: 40px;
	float: right;
	text-align:  right;
	justify-content: right;
	align-items: right;
}

.header-content {
	margin: auto;
	padding: 0;
	padding-top: 30vh;
	width: 99%;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 20px;
	// text-align: center;
	justify-content: middle;
	align-items: middle;
}

.header-notice {
	margin: auto;
	padding: 0;
	padding-top: 24vh;
	width: 100%;
	height: 5vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color: white;	
	text-align: right;
	justify-content: middle;
	align-items: middle;
}

/*******************Devices*********************/

/* iPhone 11 Pro - Portrait */
@media only screen and (max-device-width: 480px) and (min-device-height: 600px) {
h1 {
	font-size: 130%;
}
h2 {
    font-size: 100%;
	font-weight: normal;
}
p {
    font-size: 80%;
}
.header-navbar {
	width: 80%;
}
.header-content {
	padding-top: 16vh;
}
.header-notice {
	padding-top: 8vh;
}
}

/* iPhone 11 Pro - Landscape */
@media only screen and (min-device-width: 700px) and (max-device-height: 500px)  {
h1 {
	font-size: 120%;
}
h2 {
    font-size: 90%;
	font-weight: normal;
}
p {
    font-size: 70%;
}
.header-navbar {
	width: 80%;
}
.header-content {
	padding-top: 16vh;
}
.header-notice {
	padding-top: 4vh;
}
} 

/* iPad - Portrait */
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px) and (min-device-height: 700px) {
.header-navbar {
	width: 75%;
}
.header-content {
	padding-top: 22vh;
}
.header-notice {
	padding-top: 18vh;
}
}

/* iPad - Landscape */
@media only screen and (min-device-width: 760px) and (max-device-width: 1400px) and (min-device-height: 700px) {
.header-navbar {
	width: 75%;
}
.header-content {
	padding-top: 22vh;
}
.header-notice {
	padding-top: 18vh;
}
}

